<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>CRM</title>

    <!-- ExtJS -->
    <script type="text/javascript" src="/js/lib/ext-all-debug.js"></script>

    <!-- Shared -->
    <link rel="stylesheet" type="text/css" href="/css/ext-theme-neptune/ext-theme-neptune-all-debug.css" />
	<link rel="stylesheet" type="text/css" href="/css/customStyle.css" />

    <script type="text/javascript" src="/js/CrmApp/app.js"></script>
</head>

<body>
 <div id="myExample"></div>
</body>

</html>